
body {
    background-color: #4a4848;
}

#game-container {
    width: 1024px;
    height: 1024px;
    margin: auto auto;
}

#game-playfield {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows:    1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    padding: 0px;
    margin: 0px;
}

.game-square, .game-square p {
    width: 32px;
    height: 32px;
    padding: 0px;
    margin: 0px;    
}

.under-modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(128, 128, 128);
    background-color: rgba(255, 0, 0, 0.5);
    overflow: hidden;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}

div.modal-window {
    background-color: #c0c0c0;
    padding: 20px;
}

.close-modal {
    float: right;
}
.close-modal > img {
    width: 40px;
    height: 40px;
}




